body {
	font-family: 'Roboto', sans-serif;
	color: #800000;
	font-size: 16px;
}

header .navbar-default {
	background-color: #C0C0C0;
	border-radius: 0;
	border: #800000 solid 1px;
	font-size: 20px;
}

.navbar-brand {
	font-weight: bold;
	font-size: 2em;
	color: black;
	text-decoration: none;
}

h1 {
	font-size: 1.8em;
	font-weight: bold;
}

section {
	background-color: #C0C0C0;
	margin-bottom: 20px;
}

.navbar-toggle {
	margin-top: 23px;
	background-color: white;
}